<h2>Lista de postagens - Categoria: {{categoria.nome}}</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p class="text-justify">{{descricao}}</p>
        <hr>
        <small>Categoria: {{categoria.nome}}</small>
        <small>Data: {{data}}</small>
    </div>
</div>
{{else}}
<h5>Nenhuma postagem com a categoria selecionada!</h5>
{{/each}}